<h1>Find out if your sides makes a triangle</h1>

  <form action = "/triangles">
    <div class = "form-group">
      <label for = "a_side"> Side A of triangle</label>
      <input id = "a_side" name = "a_side" class = "form-control" type = "text">
    </div>

    <div class = "form-group">
      <label for = "b_side"> Side B of triangle </label>
      <input id = "b_side" name = "b_side" class = "form-control" type = "text">
    </div>

    <div class = "form-group">
      <label for = "c_side"> Side C of triangle </label>
      <input id = "c_side" name = "c_side" class = "form-control" type = "text">
    </div>

    <button type="submit" class="btn">Go!</button>
  </form>  
